.content {
    width: 960px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
}

.container {
    margin-right: 25px;
    margin-bottom: 50px;
    /* opacity: 1; */
}

.container:hover .rest_overlay {
    opacity: 1;
}

.rest_image:hover {
    filter: brightness(70%);
    /* opacity: 0; */
}

.rest_overlay {
    font-size: 12;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 120px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    opacity: 0;
}